*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    scroll-behavior: smooth;
}

.styled
{
    background: url('./images/mainBackground.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    max-width: 100vw;
    position: relative;
    display: none;
}

#map
{
    width: 400px;
    height: 300px;
}

body
{
    overflow-x: hidden;
    max-width: 100vw;
}

#mapPage
{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    flex-wrap: wrap;
}

#mapPage h1
{
    font-family: 'Amatic SC', 'cursive';
    color: white;
    font-size: 40px;
    font-weight: lighter;
    text-align: right;
    border-right: 2px solid white;
    padding: 8px;
    margin-right: 20px;
}

.formPage
{
    background: white;
    
    height: 100vh;
}

form
{
    text-align: right;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0));
    justify-self: center;
    align-self: center;
}

form input
{
    width: 300px;
    height: 30px;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5));
    border: 1px solid black;
    color: white;
    font-family: 'Spartan', 'cursive';
}

textarea
{
    width: 300px;
    vertical-align: top;
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6));
    border: 1px solid black;
    color: white;
    font-family: 'Spartan', 'cursive';
}

form label
{
    color: white;
    font-family: 'Amatic SC', 'cursive';
    font-size: 25px;
}

form ul li
{
    margin: 10px 0;
}

ul li
{
    list-style-type: none;
}

form button
{
    color: white;
    font-family: 'Spartan', 'cursive';
    background: rgba(0,0,0,0.75);
    border: none;
}

form button:hover
{
    background: black;
}

.buttonAlign
{
    text-align: left;
    padding-left: 20px;
}

::placeholder
{
    color: white;
    opacity: .5;
}

.sendMessage
{
    color: white;
    font-size: 50px;
    font-family: 'Spartan', 'cursive';
    font-weight: lighter;
}

#submit
{
    width: 80px;
    height: 40px;
    margin-left: 90px;
}

#submit:hover
{
    background: black;
    cursor: pointer;
}

.galleryPage
{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    max-width: 100vw;
    background: linear-gradient(rgb(63, 0, 92), rgb(0, 0, 0)); 
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
    z-index: 10000;
    justify-content: center;
    align-items: center;
    display: none;
    flex-direction: column;
}

.galleryPage h1
{
    color: white;
    font-size: 40px;
    z-index: 1000000;
}

.closeGallery
{
    position: absolute;
    top: 15px;
    right: 15px;
    color: white;
    z-index: 10;
}

.closeGallery:hover
{
    cursor: pointer;
}

.navigationBar
{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0));
    margin-top: 15px;
    position: absolute;
    top: 10px;
    max-width: 100vw;
    justify-content: center;
}

.smallNavigationBar
{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgb(63, 0, 92), rgb(0, 0, 0));
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.smallNavigationBar a{
    margin-bottom: 7vh;
    font-family: 'Spartan', cursive;
    text-decoration: none;
}

.smallNavigationBar *
{
    color: white;
}

.xButton
{
    position: absolute;
    top: 15px;
    right: 15px;
    border: white;
    background: rgba(0, 0, 0, 0);
}

.smallLogo
{
    position: absolute;
    left: 15px;
    top: 15px;
    display: none;
}

.smallLogo *
{
    color: white;
}

.xButton:hover
{
    cursor: pointer;
}


.navigationBar > *
{
    color: white;
}

.navigationBar a
{
    margin-left: 35px;
    font-size: 20px;
    font-family: 'Waiting for the Sunrise', cursive;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

.hoverable:hover
{
    text-decoration: underline;
}

.noLeft
{
    margin-left: 0;
}

.hamburger
{
    position: absolute;
    top: 25px;
    right: 25px;
    display: none;
}


/* #firstPageDiv
{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 300px 1fr;
    grid-template-rows: 1fr 300px 1fr;
    grid-template-areas: 
    "one two three"
    "four five six"
    "seven eight nine";
}


#left
{
    grid-area: four;
    transform: rotate(-90deg);
    justify-self: flex-end;
    align-self: center;
}

#right
{
    grid-area: six;
    transform: rotate(90deg);
    justify-self: flex-start;
    align-self: center;
}

#top
{
    grid-area: two;
    justify-self: center;
    align-self: flex-end;
}

#bottom
{
    grid-area: eight;
    transform: rotate(180deg);
    justify-self: center;
    align-self: flex-start;
}

.btn {
    width: 300px;
    height: 300px;
    border: 3px solid white;
    grid-area: five;
} */

.firstPageDiv
{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    padding-bottom: 40px;
}


#bigQuote
{
    font-family: 'Spartan', sans-serif;
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

#otherQuote
{
    width: 100%;
    
    justify-self: flex-start;
    align-self: center;
    text-align: center;
}

.carouselItem button
{
    background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2));
    border: 2px solid white;
    color: white;
    padding: 10px 40px;
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
    margin-left: 10px;
    font-weight: bold;
}

.carouselItem button:hover
{
    background: black;
    cursor: pointer;
}

.signature
{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border-left: 4px solid white;
    border-right: 4px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-out;
}



.signature:hover
{
    cursor: pointer;
}

.cursive
{
    font-family: 'Rochester', cursive;
    font-size: 25px;
}

.smallQuote
{
    font-family: 'Amatic SC', cursive;
    font-weight: lighter;
    font-size: 55px;
    margin-top: -30px;
}

.outOfPosition
{
    position: absolute;
    height: 100vh;
    left: 15px;
    top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

i
{
    font-size: 35px;
    color: white;
    margin-bottom: 20px;
}

.smallNavigationBar i
{
    padding: 15px;
}

.outOfPosition i:hover
{
    font-size: 50px;
}

.hamburger i:hover
{
    cursor: pointer;
}

.twoColumn
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    
}





.aboutPicture
{
    border-radius: 50%;
    height: 250px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}


.aboutPicture img{
    border-radius: 50%;
    border-left: 10px solid white;
    border-right: 10px solid white;
    padding: 10px;
}

.aboutPicture span{
    font-family: 'Amatic SC', cursive;
    color: white;
    font-size: 50px;
}

.aboutSlide h1
{
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 70px;
    font-weight: normal;
    align-self: flex-end;
    padding: 0 15px;
}



.aboutSlide p
{
    font-family: 'Spartan', cursive;
    font-size: 20px;
    color: white;
    padding: 0 15px;
}



.leftAlign p, .leftAlign h1
{
 text-align: left;
 align-self: flex-start;
}

.leftAlign
{
    border-left: 5px solid white;
}

.rightAlign p, .rightAlign h1
{
 text-align: right;
 align-self: flex-end;
}

.rightAlign
{
    border-right: 5px solid white;
}

.aboutSlide
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    margin: 0 20px;
}

.loader
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    z-index: 10000;
}

.circle1, .circle2, .circle3
{
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.relativer
{
    position: relative;
    height: 100vh;
    width: 100vw;
}

.circle1
{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border-top: 5px solid red;
    border-left: 5px solid red;
    transform: rotate(90deg);
    animation-name: myLoader;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: linear;
    position: absolute;
    top: calc((100vh-200px)/2);
    left: calc((100vw-200px)/2);
}

.circle2
{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    border-top: 5px solid rgb(212, 0, 184);
    border-left: 5px solid rgb(212, 0, 184);
    transform: rotate(-180deg);
    animation-name: myLoaderTwo;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: linear;
    position: absolute;
    position: absolute;
    top: calc((100vh-170px)/2);
    left: calc((100vw-170px)/2);
}

.circle3
{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    border-top: 5px solid rgb(169, 1, 247);
    border-left: 5px solid rgb(169, 1, 247);
    transform: rotate(90deg);
    position: relative;
    animation-name: myLoader;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: linear;
    position: absolute;
    position: absolute;
    top: calc((100vh-140px)/2);
    left: calc((100vw-140px)/2);
}

.circleLetters
{
    position: absolute;
    font-family: 'Rochester', cursive;
    color: white;
    font-size: 25px;
}

.pictureBlock
{
    height: 100%;
    width: 100%;
}

@keyframes myLoader
{
    0%
    {
        transform: rotate(0deg);
    }
    25%
    {
        transform: rotate(90deg);
    }
    50%
    {
        transform: rotate(180deg);
    }
    75%
    {
        transform: rotate(270deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

@keyframes myLoaderTwo
{
    0%
    {
        transform: rotate(0deg);
    }
    25%
    {
        transform: rotate(-90deg);
    }
    50%
    {
        transform: rotate(-180deg);
    }
    75%
    {
        transform: rotate(-270deg);
    }
    100%
    {
        transform: rotate(-360deg);
    }
}

@keyframes clickImage
{
    0%
    {
        
    }
    100%
    {
        transform: translateY(-30px);
    }
}

@keyframes closePage
{
    0%
    {
        
    }
    100%
    {
        display: none;
    }
}

.quoteSlideShow
{
    height: 300px;
    width: 400px;
    position: relative;
    background: black;
    
    
}

.quoteSlideShow p
{
    font-family: 'Spartan', cursive;
    font-size: 55px;
}

.quoteSlideShow > div > div > p:hover{
    text-decoration: underline;
    cursor: pointer;
}

#slide1
{
    background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url("/images/slide1.jpg");
}

#slide2
{
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("/images/slide2.jpg");
}

#slide3
{
    background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url("/images/slide3.jpg");
}

#slide4
{
    background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url("/images/slide4.jpg");
}

.labelRow
{
    z-index: 10000;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.rightChev
{
    position: absolute;
    right: 5px;
    top: calc(45%);
    z-index: 10000;
    font-size: 30px;
}

.leftChev
{
    position: absolute;
    left: 5px;
    top: calc(45%);
    font-size: 20px;
    z-index: 10000;
    font-size: 30px;
}

.rightChev:hover
{
    cursor: pointer;
}

.leftChev:hover
{
    cursor: pointer;
}

.slide
{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    color: white;
}



.artistQuote
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 200px;
    margin: 80px 0;
    justify-content: center;
    align-items: center;
}

.leftQuote
{
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
}

.rightQuote
{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.quoteText
{
    margin-top: -20px;
    color: white;
    font-family: 'Spartan', cursive;
    font-weight: lighter;
    font-style: italic;
    width: 60%;
    text-align: center;
}

.marginTop
{
    padding-top: 150px;
}

.slideInfo
{
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, .85), rgba(0, 0, 0, .85));
    z-index: 15000;
}

#info1, #info2, #info3, #info4
{
    display: none;
}



.slideInfo p
{
    font-family: 'Spartan', cursive;
    font-size: 20px;
    padding: 15px;
}

#closeInfo
{
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 20000;
    display: none;
}

#closeInfo:hover
{
    cursor: pointer;
}

.limitHeight
{
    max-height: 100vh;
    overflow-y: hidden;
    display: relative;
}

.texturedBackground
{
    /* background: linear-gradient(rgb(63, 0, 92), rgb(0, 0, 0)); */
    background: url('/images/mainBackground.jpg');
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}

.carousel
{

    width: auto;
    height: 300px;
    margin-top: 130px;
    display: flex;
    justify-content: center;
}

.carouselItem
{
    margin: 0 30px;
    height: 300px;
    width: 300px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid white;
}

.carouselCover
{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.carouselCover *
{
    margin: -180px 0;
}

.fa-folder-open
{
    font-size: 20px;
}

.arrowSpace
{
    margin-top: 20px;
    display: flex;
    
}

.carouselArrows
{
    margin: 0 50px;
}

.carouselArrows:hover{
    cursor: pointer;
}

#gal1
{
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('/images/gal5.JPG');
}

#gal2
{
    background: linear-gradient(rgba(0,0,0,.0), rgba(0,0,0,.0)), url('/images/gal4.JPG');
}

#gal3
{
    background: linear-gradient(rgba(0,0,0,.0), rgba(0,0,0,.0)), url('/images/gal1.JPG');
}

#gal4
{
    background: linear-gradient(rgba(0,0,0,.0), rgba(0,0,0,.0)), url('/images/gal2.JPG');
}

#gal5
{
    background: linear-gradient(rgba(0,0,0,.0), rgba(0,0,0,.0)), url('/images/gal3.JPG');
}

.carouselItem button
{
    background: rgba(0,0,0,.75);
    justify-self: flex-end;
    border: none;
    margin-top: 180px;
}

.carouselfItem button:hover 
{
    cursor: pointer;
}

.carouselItem h1
{
    font-family: 'Amatic SC', cursive;
    color: white;
    font-weight: lighter;
    font-size: 50px;
}

.galleryRow
{
    display: flex;
    flex-wrap: wrap;
    max-width: 100vw;
    margin: 0;
}

.fa-file-image
{
    font-size: 80px;
}

.galleryColumn
{
    flex: 25%;
    max-width: 25%;
}

.galleryColumn img
{
    width: 100%;
    vertical-align: middle;
    padding: 8px 8px;
}

#passwordPage
{
    background: linear-gradient(rgb(63, 0, 92), rgb(0, 0, 0));
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#passwordPage label
{
    color: white;
    font-family: 'Amatic SC', 'cursive';
}

#passwordPage input, #passwordPage label
{
    margin: 10px;
}

.firstButton
{
    background: rgba(0, 0, 0, .2);
    color: white;
    padding: 10px 30px;
    border: 2px solid white;
    font-family: 'Spartan', cursive;
    font-size: 15px;
    margin: 0 5px;
}

.firstButton:hover
{
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.cursorAnimation
{
    
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 1000;
    display: none;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(63, 0, 92,.75), rgba(0, 0, 0, .75));
    color: white;
    animation-name: closePage;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

#cursorPic
{
    animation-name: clickImage;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 3;
    transform: translateY(30px);
}

.cursorAnimation h1
{
    font-family: 'Spartan', 'cursive';
    padding: 20px;
}

body
{
    overflow-x: hidden;
}

@media screen and (max-width: 800px)
{
    .carouselItem
    {
        margin: 0 10px;
    }
    .galleryColumn
    {
        flex: 50%;
        max-width: 50%;
    }
    .mainTitle
    {
        font-size: 40px;
    }
    .smallQuote
    {
        font-size: 45px;
    }
}

@media screen and (max-width: 860px)
{
    .aboutPicture
{
    border-radius: 50%;
    height: 250px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px 0 80px 0;
}

.leftAlign
{
    margin: 30px 0 30px 0;
}


.aboutPicture img{
    border-radius: 50%;
    border-left: 10px solid white;
    border-right: 10px solid white;
    padding: 10px;
}

.leftQuote
{
    top: -20px;
}

.rightQuote
{
    bottom: -20px;
}

.aboutSlide
{
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
}

.aboutSlide h1
{
    justify-self: center;
    align-self: center;
    text-align: center;
}

.aboutSlide p
{
    text-align: center;
}

.moveUp
{
    margin-top: -50px;
}

}

.overCard
{
    perspective: 1000px;
}

.subCard
{
    position: relative;
    transform-style: preserve-3d;
    transition-timing-function: ease-in-out;
    transition: all 1s;
    height: 100%;
    width: 100%;
}

.frontCard
{
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: visible;
}

.backCard
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-family: 'Spartan', 'cursive';
    backface-visibility: hidden;
    transform: rotateY(180deg);
    border: 2px solid white;
    background: rgba(0,0,0,0.7);
}

@media screen and (max-width: 600px)
{
    .galleryColumn
    {
        flex: 100%;
        max-width: 100%;
    }
    .mainTitle
    {
        font-size: 40px;
    }
    .smallQuote
    {
        font-size: 35px;
    }
    .outOfPosition
    {
        display: none;
    }
    .leftQuote
    {
        top: -40px;
    }

    .rightQuote
    {
        bottom: -40px;
    }
    .sendMessage
    {
        font-size: 30px;
    }
}

@media screen and (max-width: 1030px)
{
    .carouselItem button{
        justify-self: center;
    }
    .carouselItem h1
    {
        justify-self: center;
    }
}

@media screen and (max-width: 1080px)
{
    .navigationBar{
        display: none;
    }
    .hamburger
    {
        display: block;
    }
    .smallLogo
    {
        display: flex;
    }
}